<%= simple_form_for @recipe do |recipe| %>
  <%= recipe.error_notification %>
  <div class:'form-group'>
    <%= recipe.input :name, class: 'form-control' %>
  </div>
  <div class:'form-group'>
    <%= recipe.input :culinary_id, collection: @culinary, label: 'Cozinha', class: 'form-control' %>
  </div>
  <div class:'form-group'>
    <%= recipe.input :food_type_id, collection: @food_type, label: 'Tipo de Comida', class: 'form-control' %>
  </div>
  <div class:'form-group'>
    <%= recipe.input :food_preference_id, collection: @food_preference, label: 'Preferência de Comida', class: 'form-control' %>
  </div>
  <div class:'form-group'>
    <%= recipe.input :ingredients, label: 'Ingredientes', class: 'form-control' %>
  </div>
  <div class:'form-group'>
    <%= recipe.input :description, label: 'Passo a Passo', class: 'form-control' %>
  </div>
  <%= recipe.submit %>
<% end %>
