<dl class="dl-horizontal">
  <h1><%= @recipe.name %></h1>
  <dt>Cozinha</dt>
  <dd><%= @recipe.culinary %></dd>
  <dt>Tipo de Comida</dt>
  <dd><%= @recipe.food_type %></dd>
  <dt>Prefência de Comida</dt>
  <dd><%= @recipe.food_preference %></dd>
  <dt>Ingredientes</dt>
  <dd><%= @recipe.ingredients %></dd>
  <dt>Passo a Passo</dt>
  <dd><%= @recipe.description %></dd>
</dl>
<%= link_to 'Voltar', recipes_path, class: 'btn btn-default btn-sm' %>
